/* App.css */

.task {
  display: flex;
  align-items: center;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.completed {
  text-decoration: line-through;
  color: #888;
}
